/* These are IPGP colors. You can change to your own colors. */
:root {
    --color-lava: #ef3b37;
    --color-ocre: #f35639;
    --color-magma: #da291c;
    --color-rubis: #8a1538;
    --color-sable: #f7f3ef;
    --color-sable-accent: #e7d9cd;
    --color-graphite: #48424d;
    --color-graphite-accent: #5a555e;
    --color-terra: #dca67a;
    --color-blueschist: #84bdde;
    --color-olivine: #7aa585;
}

/* Attribute colors from the color theme to the different elements */
:root {
    --color-primary: var(--color-olivine);
    --color-secondary: var(--color-lava);
    --color-ternary: var(--color-terra);
    --color-body: var(--color-graphite);
    --color-light: var(--color-sable);
    --color-footer: rgba(0, 0, 0, 0.3);
}